apache-libcloud==2.4.0
applicationinsights==0.11.7
colour==0.1.5
chardet
coverage==4.5.3
dj-database-url==0.5.0
Django==2.2.13
django-cloud-browser==0.5.0
django-cors-headers==3.1.1
django-filter==2.0.0
django-heroku==0.3.1
django-mssql-backend==2.8.1
django-webpack-loader==0.6.0
django-widget-tweaks==1.4.2
django-polymorphic==2.0.3
django-rest-polymorphic==0.1.8
djangorestframework==3.10
djangorestframework-csv==2.1.0
djangorestframework-filters==0.10.2
drf-yasg==1.17.1
environs==4.1.0
djangorestframework-xml==1.4.0
Faker==0.9.1
flake8==3.6.0
furl==2.0.0
gunicorn==19.9.0
lockfile==0.12.2
model-mommy==1.6.0
psycopg2-binary==2.7.7
pyexcel==0.5.14
pyexcel-xlsx==0.5.7
social-auth-app-django==4.0.0
social-auth-core[azuread,openidconnect]==3.3.3
text-unidecode==1.2
unittest-xml-reporting==2.5.1
vcrpy==2.0.1
vcrpy-unittest==0.1.7
whitenoise[brotli]==4.1.2
conllu==1.3.2
boto3==1.12.21
botocore==1.15.21
certifi==2019.11.28
click==7.1.1
docutils==0.15.2
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
h5py==2.10.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
MarkupSafe==1.1.1
numpy==1.18.1
pandas==1.0.1
protobuf
python-dateutil
pytz==2019.3
PyYAML==5.3
regex==2020.2.20
s3transfer==0.3.3
sacremoses==0.0.38
seqeval==0.0.12
simpletransformers
six==1.14.0
tokenizers
tqdm
transformers
urllib3
Werkzeug==1.0.0
textract
python-docx
setuptools_scm
jpype1
sutime
urlextract
wget
dateparser
fasttext